<mat-list>
  <mat-list-item routerLink="{{routes.SETTINGS}}" routerLinkActive="active">
    <mat-icon>settings</mat-icon> General Settings
  </mat-list-item>
  <mat-list-item routerLink="{{routes.SECTIONS}}" routerLinkActive="active">
    <mat-icon>border_all</mat-icon> Home Sections
  </mat-list-item>
  <mat-list-item routerLink="{{routes.ABOUTUS}}" routerLinkActive="active">
    <mat-icon>group_work</mat-icon> About Us
  </mat-list-item>
  <mat-list-item routerLink="{{routes.ADMISSION}}" routerLinkActive="active">
    <mat-icon>add_home</mat-icon> Admissions
  </mat-list-item>
  <mat-list-item routerLink="{{routes.NOTIFICATION}}" routerLinkActive="active">
    <mat-icon>account_balance</mat-icon> Facilities
  </mat-list-item>
  <mat-list-item routerLink="{{routes.CAREERS}}" routerLinkActive="active">
    <mat-icon>library_books</mat-icon> Careers
  </mat-list-item>
  <mat-list-item routerLink="{{routes.STUDCORNER}}" routerLinkActive="active">
    <mat-icon>co_present</mat-icon> Students Corner
  </mat-list-item>
  <mat-list-item routerLink="{{routes.NOTIFICATION}}" routerLinkActive="active">
    <mat-icon>document_scanner</mat-icon> Documents
  </mat-list-item>
</mat-list>
